# String manupulation

In [87]:
import pandas as pd
import numpy as np

In [88]:
#split===>from which seperator? 

text='Toy  Story  (1995)Animation Childrens      Comedy'
print(text.split(' '))

['Toy', '', 'Story', '', '(1995)Animation', 'Childrens', '', '', '', '', '', 'Comedy']

In [89]:
pieces = [x.strip() for x in text.split(' ')]
print(pieces)

['Toy', '', 'Story', '', '(1995)Animation', 'Childrens', '', '', '', '', '', 'Comedy']

In [90]:
print(text.split(' '))

['Toy', '', 'Story', '', '(1995)Animation', 'Childrens', '', '', '', '', '', 'Comedy']

In [91]:
text2='Toy  Story  (1995)Animation Childrens      Comedy and tuber fejrfberfje ejfe bfjke fje fejf '
o=[x.strip() for x in text2.split()]
print(o)

['Toy', 'Story', '(1995)Animation', 'Childrens', 'Comedy', 'and', 'tuber', 'fejrfberfje', 'ejfe', 'bfjke', 'fje', 'fejf']

In [92]:
o=' '.join(o)
print(o)

Toy Story (1995)Animation Childrens Comedy and tuber fejrfberfje ejfe bfjke fje fejf

In [1]:
text3='a,f,f, mdb'
text3.index(',')

1

In [2]:
text3.find(',')# Note the difference between find and index is that index raises an exception if the
# string isnâ€™t found

1

In [3]:
text3.replace(',','||')

'a||f||f|| mdb'

In [4]:
#text3.count(',')#('f')

In [5]:
text3.endswith('b')
#text3.startswith('w')

True

In [7]:
print(text3.rfind('b'))
print(text3.find('f'))

2

In [1]:
import re

In [2]:
text='foo bar\t baz \tqux'
regex=re.compile('\s+')
regex.split(text)
#re.split('\s+',text)

['foo', 'bar', 'baz', 'qux']

In [72]:
#
text = """Dave dave@google.com 
Dave Dave%@Gog54l.e-er.SOM
daeis MMUz123_@MGAIL.COM
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""
pattern = r'[A-Z0-9]+@[A-Z0-9.-]+\.[A-Z]{2,4}'
regex = re.compile(pattern, flags=re.IGNORECASE)#only upper one will print
# re.IGNORECASE makes the regex case-insensitive
a=regex.findall(text)
display(a)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [54]:
print(text)

Dave dave@google.com
Dave Dave%@Gog54l.e-er.SOM
daeis MMUz123_@MGAIL.COM
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com

In [27]:
print(regex.sub('is the user',text))

Dave is the user
Dave is the user
daeis is the user
Steve is the user
Rob is the user
Ryan is the user

In [3]:
n='''
Asif CNIC 42401-6755778-5
AS CNIC 42401-6755678-4
MY 42401-6755718-1
'''
pattern=r'[0-9]{5}\-[0-9]{7}\-[0-9]{1}'

regex=re.compile(pattern)
regex.findall(n)

['42401-6755778-5', '42401-6755678-4', '42401-6755718-1']

In [6]:
print(regex.sub('------',n))

Asif CNIC ------
AS CNIC ------
MY ------

In [55]:
              #r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'
regex = re.compile(pattern, flags=re.IGNORECASE)

In [59]:
m=regex.match('wesm32@google.com')
m.groups()

('wesm32', 'google', 'com')

In [68]:
p=regex.findall(text)
pd.DataFrame(p)

          0            1    2
0      dave       google  com
1     Dave%  Gog54l.e-er  SOM
2  MMUz123_        MGAIL  COM
3     steve        gmail  com
4       rob        gmail  com
5      ryan        yahoo  com

In [171]:
print(regex.sub(r'USERNAME: \1, DOMAIN: \2, SUFFIX: \3',text))

Dave USERNAME: dave, DOMAIN: google, SUFFIX: com
Dave USERNAME: Dave%, DOMAIN: Gog54l.e-er, SUFFIX: SOM
daeis USERNAME: MMUz123_, DOMAIN: MGAIL, SUFFIX: COM
Steve USERNAME: steve, DOMAIN: gmail, SUFFIX: com
Rob USERNAME: rob, DOMAIN: gmail, SUFFIX: com
Ryan USERNAME: ryan, DOMAIN: yahoo, SUFFIX: com

In [167]:
a=regex.finditer(text)
for i in a:
    print(i)

<re.Match object; span=(5, 20), match='dave@google.com'>
<re.Match object; span=(26, 47), match='Dave%@Gog54l.e-er.SOM'>
<re.Match object; span=(54, 72), match='MMUz123_@MGAIL.COM'>
<re.Match object; span=(79, 94), match='steve@gmail.com'>
<re.Match object; span=(99, 112), match='rob@gmail.com'>
<re.Match object; span=(118, 132), match='ryan@yahoo.com'>

In [173]:
print(regex.sub(r'DOMAIN: \2,USERNAME: \1, SUFFIX: \3',text))

Dave DOMAIN: google,USERNAME: dave, SUFFIX: com
Dave DOMAIN: Gog54l.e-er,USERNAME: Dave%, SUFFIX: SOM
daeis DOMAIN: MGAIL,USERNAME: MMUz123_, SUFFIX: COM
Steve DOMAIN: gmail,USERNAME: steve, SUFFIX: com
Rob DOMAIN: gmail,USERNAME: rob, SUFFIX: com
Ryan DOMAIN: yahoo,USERNAME: ryan, SUFFIX: com

In [63]:
import pandas as pd
import numpy as np
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com','Rob': 'rob@gmail.com', 'Wes': np.nan}
data=pd.Series(data)
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [31]:
pattern

'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\\.([A-Z]{2,4})'

In [32]:
data.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

In [52]:
data.str.findall(pattern,flags=re.IGNORECASE)

Dave     [dave@google.com]
Steve    [steve@gmail.com]
Rob        [rob@gmail.com]
Wes                    NaN
dtype: object

In [34]:
data.str.match(pattern,flags=re.IGNORECASE)

Dave     True
Steve    True
Rob      True
Wes       NaN
dtype: object

In [211]:
print(data)
data.str[:3]

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

Dave     dav
Steve    ste
Rob      rob
Wes      NaN
dtype: object

In [ ]:
#Project: code to extract phone numbers or e-mails from the given file and create two list (mail and phone number) 
# helping refrrence: Automate the Boring Stuff Using Python

In [225]:
text='this is my phone number 0341-8988676 and email is asifdecem2@gmail.com and another contact number is 0305-2285272 and eamil is asifaahh112233@gmail.com'
p1=r'03[0-9]{2}\-[0-9]{7}'

#p2=r'[a-z0-9]'
regex1=re.compile(p1)
regex1.findall(text)

['0341-8988676', '0305-2285272']

In [43]:
phoneNumRegex = re.compile(r'03[0-9]{2}\-[0-9]{7}')
mo = phoneNumRegex.search('My number is 0341-8988676 a0341-8988676 mber ')
# mo.groups(){if we use this the o/p will be the empry string so use group}
mo.group()

'0341-8988676'

In [251]:
phoneNumRegex = re.compile(r'(03[0-9]{2})\-([0-9]{7})')
mo = phoneNumRegex.search('My number is 0341-8988676 a ')
mo.group(2)#mo.group(1 or 0)

'8988676'

In [242]:
mo.groups()

('0341', '8988676')

In [249]:
company_code,main_number=mo.groups()
print(f'the company code is {company_code}\nAnd main number is {main_number}')

the company code is 0341
And main number is 8988676

In [264]:
#Project: code to extract phone numbers or e-mails from the given file and create two list (mail and phone number) 
# helping refrrence: Automate the Boring Stuff Using Python
text='''
800-420-7240 
415-863-9900 
415-863-9950 
info@nostarch.com 
media@nostarch.com
academic@nostarch.com 
help@nostarch.com
'''

In [273]:
p1=r'[0-9]{3}\-[0-9]{3}-[0-9]{4}'
p2=r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'
reg1=re.compile(p1)
reg2=re.compile(p2,flags=re.IGNORECASE)
a=reg1.findall(text)
b=reg2.findall(text)

In [274]:
b,a

(['info@nostarch.com',
  'media@nostarch.com',
  'academic@nostarch.com',
  'help@nostarch.com'],
 ['800-420-7240', '415-863-9900', '415-863-9950'])