In [2]:
import numpy as np
import pandas as pd
import csv

d=pd.Series(np.random.randn(9),index=range(0,9))
data = pd.Series(np.random.randn(9),index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],[1, 2, 3, 1, 3, 1, 2, 2, 3]])

In [12]:
d

0    1.433098
1   -0.635868
2    0.180767
3    1.399581
4   -0.098065
5    3.289790
6    0.984857
7    0.976437
8    0.474696
dtype: float64

In [13]:
data

a  1    0.822475
   2   -0.575960
   3   -0.139635
b  1    0.716927
   3   -0.008938
c  1   -2.120695
   2   -0.611478
d  2    0.237787
   3    0.549380
dtype: float64

In [14]:
data['a']

1    0.822475
2   -0.575960
3   -0.139635
dtype: float64

In [15]:
data[2]

-0.13963527898741826

In [16]:
data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 2, 0, 1, 1, 2]])

In [17]:
data['a',1]

0.8224753488349185

In [18]:
data['a'][1]

0.8224753488349185

In [19]:
data['b':'c']

b  1    0.716927
   3   -0.008938
c  1   -2.120695
   2   -0.611478
dtype: float64

In [23]:
data.loc['b']

1    0.716927
3   -0.008938
dtype: float64

In [27]:
data.loc[['b','c']]

b  1    0.716927
   3   -0.008938
c  1   -2.120695
   2   -0.611478
dtype: float64

In [28]:
s=data.unstack()

In [29]:
s[1]

a    0.822475
b    0.716927
c   -2.120695
d         NaN
Name: 1, dtype: float64

In [26]:
data.unstack().stack()

a  1    0.822475
   2   -0.575960
   3   -0.139635
b  1    0.716927
   3   -0.008938
c  1   -2.120695
   2   -0.611478
d  2    0.237787
   3    0.549380
dtype: float64

In [31]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],columns=[['Ohio', 'Ohio', 'Colorado'],['Green', 'Red', 'Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [33]:
frame.columns.names=['state','colors']
frame.index.names=['key1','key2']

In [34]:
frame

state      Ohio     Colorado
colors    Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [35]:
frame['Ohio']

colors     Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

In [11]:
pd.read_csv('zip.csv')

   a  b  c
0  1  2  3
1  1  2  3

In [12]:
with open('zip.csv') as f:
    lines = list(csv.reader(f))
header, values = lines[0], lines[1:]
print(lines)
print(header)
print(values)

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]
['a', 'b', 'c']
[['1', '2', '3'], ['1', '2', '3']]

In [14]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}