# Taking sotred values from an array in differnet way

In [1]:
import numpy as np

In [39]:
a=np.array([10,3,5,88,9,8,33,55,55,66,33,33,55,5,5,55,100,10,12,12,1,22,1,1,1,1,33,22,33,55,444])
ar=np.array([2,3,2,34,44,53,75,77,545,34,43,54,43,444])

In [32]:
np.unique(a)

array([  1,   3,   5,   8,   9,  10,  12,  22,  33,  55,  66,  88, 100,
       444])

In [33]:
b=set(a)
b

{1, 3, 5, 8, 9, 10, 12, 22, 33, 55, 66, 88, 100, 444}

In [34]:
#ALternative<-----
sorted(set(a))

[1, 3, 5, 8, 9, 10, 12, 22, 33, 55, 66, 88, 100, 444]

In [35]:
# np.in1d checks values<--------
i=np.array([1,3,4,1,3])
np.in1d(i,[100,99,1])

array([ True, False, False,  True, False])

In [40]:
# Check the common values in two arrays but skips the repeated ones
np.intersect1d(a,ar)

array([  3, 444])

In [42]:
# it the unoin but skips the reapeted values
np.union1d(a, ar)

array([  1,   2,   3,   5,   8,   9,  10,  12,  22,  33,  34,  43,  44,
        53,  54,  55,  66,  75,  77,  88, 100, 444, 545])

In [43]:
# Return the sorted, unique values in ar1 that are not in ar2.
np.setdiff1d(a,ar)

array([  1,   5,   8,   9,  10,  12,  22,  33,  55,  66,  88, 100])

In [44]:
# Return the sorted, unique values that are in only one (not both) of the input arrays.
np.setxor1d(a,ar)

array([  1,   2,   5,   8,   9,  10,  12,  22,  33,  34,  43,  44,  53,
        54,  55,  66,  75,  77,  88, 100, 545])

In [2]:
a=[11,3,11,45,66,7,45,77,7]

In [5]:
set(a)

{3, 7, 11, 45, 66, 77}